header{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 5%;
    padding-bottom: 2rem;
    backdrop-filter: blur(1px); /* para un fondo desenfocado*/
    box-shadow: 0px 10px 30px rgba(156, 153, 153, 0.435); /* Negra con gran difuminado */
    height: 110px;
}

nav{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.link{
    color:#06566e;
    font-size: 20px;
    font-weight:bolder;
}
.link:hover{
    color:#04a9d9 
}

.navlinks{
    list-style: none;
    display: flex;
    gap: 25px; /* Espaciado entre los enlaces */
    margin: 0;
    padding: 0;
    

}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el logo y el texto */
}

.logo-text {
    font-size: 32px;
    font-weight: bold;
    color: #38A3A5; /* Puedes cambiarlo si necesitas otro color */
}

.logo {
    font-size: 80px;
    color: var(--verde) 
}

.container{
    display: flex;
    align-items: center;
    padding-inline: 6rem;
    justify-content: space-between;
}