.btn-music{
  Display: Flex;
  Flex-direction: row;
  Align-items: center;
}
.btn {
  width: 170px;
  height: 110px;
  display: flex;
  font-size: 30px;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

/* Estado cuando NO está reproduciendo */
.btn.play {
  background-color: #2ad14d;
  color: white;
}

/* Estado cuando está reproduciendo */
.btn.stop {
  background-color: #dc3545;
  color: white;
}

/* Hover (opcional) */
.btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}
