section {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  justify-content: center;
  padding: 2rem 9%;
}

.imagen1 {
  height: 180px;
  width: 200px;
  transition: all 0.3s ease;
  color: var(--verde);
}

.imagen1:hover {
  height: 225px;
  width: 225px;
}

.logo2 {
  padding-top: 1rem;
  align-items: center;
  display: flex;
  align-self: auto;
  font-size: 4rem;
  font-weight:600;
  color: var(--black);
}

.boton {
  display: flex;
  border-radius: 20px;
  color: #318aac !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0, 0, 0, 0);
  border: 2px solid;
  border-color: #318aac;
  transition: all 1s ease;
  position: static;
  margin-top: 1rem;
  padding: 1.5rem;
  padding-left: 1rem;
  margin-top: 1.5rem;
}
.boton:hover {
  background: #318aac;
  border-radius: 20px;
  color: #ffffff !important;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width:80%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Separa en dos columnas */
  max-width: 500px;
}

.content h3 {
  font-size: 3.5rem;
  line-height: 1.8;
}

.content p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8;
  padding: 1rem 0;
}
