/* Button.css */

.btn-music{
  Display: Flex;
  Flex-direction: row;
  Align-items: center;
}

.btn {
  width: 90px;
  height: 60px;
  display: flex;
  font-size: 20px;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  margin-top: -170px;
  margin-left: 160px;
}

/* Estado cuando NO está reproduciendo */
.btn.play {
  background-color: #2ad14d;
  color: white;
}

/* Estado cuando está reproduciendo */
.btn.stop {
  background-color: #dc3545;
  color: white;
}

/* Hover (opcional) */
.btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}
