/* ButtonAudio.css */

.btn-music-audio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-audio {
  width: 90px;
  height: 60px;
  display: flex;
  font-size: 20px;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  margin-top: -270px; /* Si quieres bajarlo un poco */
  margin-left: 130px; /* Espacio entre el texto y el botón */
}

/* Estado cuando NO está reproduciendo */
.btn-audio.play {
  background-color: #2ad14d;
  color: white;
}

/* Estado cuando está reproduciendo */
.btn-audio.stop {
  background-color: #dc3545;
  color: white;
}

/* Hover (opcional) */
.btn-audio:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

