.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin-bottom: 50px;
}



.about-us .content {
    
    background-color: var(--verde);
    padding: 40px;
    padding-left: 12rem;
    padding-right: 12rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
    max-width: 800px; 
    height: auto;
    margin-top: 120px;
    margin-bottom: 120px; /* Ajusta el valor según lo que necesites */
    text-align: center;
}

.about-us .content h3 {
    font-size: 4.8rem;
    color: #BBF3F2;
    line-height: 1.2;
    text-shadow: var(--text-shadow);
}



.about-us .content p {
    font-size: 2rem;
    color: #f1f1f1;
    line-height: 1.5;
    text-align: justify;
    padding: 1rem 0;
}
