footer {
    background-color: #06566e;
    display: flex;
    flex-direction: column; /* Para que el contenido se apile verticalmente */
    justify-content: center;
    align-items: center;
    padding: 30px 0 15px 0; /* Más espacio arriba */
    /* height: 25px;  <-- Elimina esta línea */
    min-height: 90px; /* Opcional: asegura un mínimo */
    backdrop-filter: blur(1px);
    box-shadow: 0px -10px 30px rgba(145, 116, 116, 0.5);
}

.copyright-text {
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 2rem; /* Igual que el header */
}

.footer-link {
    color: #fff;
    font-size: 2rem; /* Igual que el header */
    text-decoration: none; /* Elimina subrayado */
    margin-top: 10px; /* Agrega espacio entre los enlaces y el borde superior */
    display: inline-block;
}

.footer-link:hover {
    color: #04a9d9; /* Color más claro al pasar el mouse */
}

.ulinks {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 50px; /* Espaciado entre los elementos */
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

.ulinks>li {
    display: inline-block;
    position: relative;
}

.footer-submenu {
    list-style: none;
    padding: 0;
    margin: 8px 0 0 0;
    background: none;
}

.footer-submenu li {
    display: block;
    margin: 0;
}
